@import "leaflet/dist/leaflet.css";
@import "leaflet.zoomslider/src/L.Control.Zoomslider.css";
@import "@/assets/css/main.css";
@import "font-awesome/css/font-awesome.css";
@import "@/assets/css/new.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}