@import "leaflet/dist/leaflet.css";
@import "leaflet.zoomslider/src/L.Control.Zoomslider.css";
@import "font-awesome/css/font-awesome.css";
@import "@/assets/css/new.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

body > .el-overlay,
body > .el-popup,
body > .el-popper,
body > .el-select-dropdown,
body > .el-color-dropdown {
    z-index: 10000 !important;   /* 比你的设置面板（9999）更高 */
}