name: 构建并部署到 gh-pages 分支

on:
  push:
    branches: [ master ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v6

      - name: 安装 Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: 安装 pnpm 并构建前端
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: 构建前端项目
        run: pnpm run build

      - name: 部署到 gh-pages 分支
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist